* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background: linear-gradient(35deg, #576574, #222f3e);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.container {
    width: 60%;
}

.heading {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace
}

input {
    padding: 10px;
    width: 80%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #1e272e;
    outline: none;
    border: none;
    font-size: larger;
    color: white;
}

button {
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    border: none;
    font-size: larger;
    cursor: pointer;
}

.date {
    margin-block: 20px;
    text-align: center;
    color: white;
    font-size: large;
}

.task-list {
    /* border: 1px solid wheat; */
    padding: 10px;
    border-radius: 20px;
    background-color: #1e272e;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
}
.task-list p {
    color: white;
    font-size: 1.3rem;
    padding: 6px;
} 



.icon-list i {
    margin-top: 4px;
    border: 1px solid whitesmoke;
    border-radius: 100%;
    padding: 4px;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

.text-strike-through {
    text-decoration: line-through;
}